SECRET_KEY=[GENERATE A UNIQUE SECRET]
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,@@DOMAIN@@,@@PUBLIC_IP@@

DB_ENGINE=django.db.backends.postgresql
DB_NAME=[TO BE COMPLETED]
DB_USER=[TO BE COMPLETED]
DB_PASS=[TO BE COMPLETED]
DB_HOST=127.0.0.1
DB_PORT=5432

CSRF_COOKIE_SECURE=True
SESSION_COOKIE_SECURE=True
SECURE_BROWSER_XSS_FILTER=True
SECURE_CONTENT_TYPE_NOSNIFF=True
X_FRAME_OPTIONS=DENY
CSRF_TRUSTED_ORIGINS=https://@@DOMAIN@@:@@ADMIN_PORT@@
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
SECURE_PROXY_SSL_HEADER=HTTP_X_FORWARDED_PROTO,https

WAF_PANEL_HOSTS=127.0.0.1,localhost
WAF_IGNORE_PRIVATE_IPS=true
WAFCONTROL_POLICY_DIR=/etc/nginx/modsec/wafcontrol
WAFCONTROL_REQUIRE_SEPARATE_APPROVER=False

WEBAUTHN_RP_ID=@@DOMAIN@@
WEBAUTHN_RP_NAME="OWASP WAFControl"
WEBAUTHN_ALLOWED_ORIGINS=https://@@DOMAIN@@:@@ADMIN_PORT@@
WEBAUTHN_CHALLENGE_TTL_SECONDS=300
